<div class="sidebar" role="aside" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
    <header class="header" role="banner">
        {{! The logo of the blog }}
        <a href="/"><img id="blog" class="logo" src="{{@blog.logo}}"></a>

        {{! The title of the blog }}
        <h1 class="title"><a href="/">{{@blog.title}}</a></h1>

        {{! The description of the blog }}
        <pre class="description"><code class="language-javascript">{{@blog.description}}</code></pre>


        {{! Small separator between user details and menu }}
        {{!-- <div class="separator"></ div> --}}

        {{! Navigation menu }}
        {{> "nav"}}

        {{! Social links }}
        <div class="social-icons">
            <a href="https://github.com/jcrben" class="icon icon-github-circled"></a>
            <a href="https://www.linkedin.com/in/benjc" class="icon icon-linkedin"></a>
            <a href="https://plus.google.com/+BenCreasyAlaska" class="icon icon-gplus"></a>
            <a href="https://www.facebook.com/bencreasy" class="icon icon-facebook"></a>
            <a href="https://twitter.com/jcrben" class="icon icon-twitter"></a>
            <a href="/rss" class="icon icon-rss"></a>
            <a href="mailto:ben@bencreasy.com" class="icon icon-mail"></a>
        </div>
    </header>

    <footer class="site-footer">
        <section class="copyright">{{> "copyright"}}</section> Powered by <a class="ghost-link" href="https://digitalocean.com">DigitalOcean</a>.</section>
    </footer>
</div>
